custom-blogs-api/src/main/mule/systemAPI/SysGetBlogs.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<mongo:config name="MongoDB_Config" doc:name="MongoDB Config" doc:id="968d6ac3-72ff-4236-9cf5-c73125565e07" >
		<mongo:connection-string-connection connectionString="${db.connectionURI}" />
	</mongo:config>
	<flow name="SysGetBlogsFlow" doc:id="a992a35e-aac3-4fd8-859f-55c9adf83334" >
		<logger level="INFO" doc:name="Logger" doc:id="3436cde1-839b-4f24-8999-f7c60e682b06" />
		<try doc:name="Try" doc:id="5351e8b0-7bab-427c-ab57-b7d0396e4adc" >
			<mongo:collection-exists collectionName="${db.collectionName}" doc:name="Collection exists" doc:id="3ed94496-c694-4c4f-a150-9221eb0c4459" config-ref="MongoDB_Config" />
			<choice doc:name="Choice" doc:id="fdb2d207-3e02-4cca-a78f-4488f841d63d" >
				<when expression="#[payload==true]">
					<mongo:find-documents collectionName="${db.collectionName}" fields="," doc:name="Find documents" doc:id="1c9d990e-0337-4e7a-a82b-3199a7d7fc02" config-ref="MongoDB_Config"/>
					<choice doc:name="Choice" doc:id="d567297a-ec2d-413d-9fd0-cde462c510ea" >
						<when expression="#[isEmpty(payload)]">
							<ee:transform doc:name="Transform Message" doc:id="6bec9dbe-7357-4998-9727-a03e5296e1aa" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"res": false,
	"message": "No documents found"
}]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</when>
						<otherwise >
							<ee:transform doc:name="Transform Message" doc:id="d3645c02-8d63-407b-80d9-23cf0154a3b7" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</otherwise>
					</choice>
				</when>
				<otherwise >
					<ee:transform doc:name="Transform Message" doc:id="e4f29e78-e629-4806-9f6c-595d15eab246" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"res": false,
	"message": "No collection found"
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</otherwise>
			</choice>
		</try>
	</flow>
</mule>
