custom-blogs-api/src/main/mule/systemAPI/SysRemoveBlog.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="SysRemoveBlogFlow" doc:id="dfc7c5c7-0403-41fd-8f24-f499feacc694" >
		<logger level="INFO" doc:name="Logger" doc:id="84f76423-d899-42d0-9b66-0167c935f599" />
		<set-variable value="#[attributes.queryParams.id]" doc:name="Set Variable" doc:id="28a752cc-815c-4491-ad03-6d2dc1a089d9" variableName="idQuery"/>
		<try doc:name="Try" doc:id="b6558dab-f11e-4e80-b589-c829a8d8f67c" >
			<mongo:collection-exists doc:name="Collection exists" doc:id="01ef53ce-7c21-4afc-99df-d8d19f334d55" config-ref="MongoDB_Config" collectionName="${db.collectionName}"/>
			<choice doc:name="Choice" doc:id="9df1f86b-1547-443b-9e5f-af3a39171828" >
				<when expression="#[payload==true]">
					<mongo:remove-documents collectionName="${db.collectionName}" doc:name="Remove documents" doc:id="75af76e4-8cc2-4786-8f56-067d86dd9e42" config-ref="MongoDB_Config" >
						<mongo:query ><![CDATA[#[output application/json
---
{
	"id": vars.idQuery
}]]]></mongo:query>
					</mongo:remove-documents>
					<choice doc:name="Choice" doc:id="7d3e9205-6d40-429f-8e60-138f039db90b" >
						<when expression="#[payload &gt; 0]">
							<logger level="INFO" doc:name="Logger" doc:id="fbbd844e-b215-4b65-9329-abbaaad0fea4" message="Documents removed #[payload]"/>
						</when>
						<otherwise >
							<logger level="INFO" doc:name="Logger" doc:id="b395ad98-1b5f-4499-8017-e3d77eabd729" message="No documents found "/>
						</otherwise>
					</choice>
				</when>
				<otherwise >
					<ee:transform doc:name="Transform Message" doc:id="0706e674-304f-4e30-b8e4-5b8a0de2da94" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"res": false,
	"message":"No collection found"
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</otherwise>
			</choice>
		</try>
	</flow>
</mule>
